<!DOCTYPE html>
<html>
<head>
	<title>Library Management System</title>
  <link rel="stylesheet" href="/bootstrap.css" />
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
	<div class="container">

    <div class="welcome">
      <h1>QuadSquad's Online Library</h1>
    </div>
    <div class="topnav">

      <!-- <div class="header clearfix">-->
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href = "/users/booksDetails">Search Books</a></li>
              <li role="presentation"><a href = "/users/commentsDetails">Add Comments</a></li>
              <li role="presentation"><a href="/users/books">Add Books</a></li>
              <li role="presentation"><a href="/users/delete">Delete Books</a></li>
              <li role="presentation"><a href="/users/update">Update Books</a></li>
              <li role="presentation"><a href="/users/allBooks">All Books</a></li>
              <li role="presentation"><a href="/users/userBooks">User Books</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
          </nav>
        
        <br><br>
        <!-- <h3 class="text-muted">Library Management System</h3>-->
      </div>


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{#if success}}
            <div class="alert alert-success">{{success}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer">
        <p>&copy; @CS546 - Final term project - Spring semester 2018</p>
      </footer>

    </div> 
</body>
</html>